.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar p{
  margin: 0;
}

.nav a{
  color: black;
}

.main-image{
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-image img{
  width: 80%;
}

.services-container{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.service-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-container img{
  width: 150px;
  height: 150px;
}

.pets-container{
  display: flex;
  gap: 10%;
  flex-wrap: wrap;
}

.pets-container .pet-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pets-container .pet-container .pet{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  background-color: #D9D9D9;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
